@model VIC_Story.ViewModels.VIC_StoryHomePageVM
<div id="maincontainer">
    <main> 
    <div>
        @Html.Partial("HomePagePartial_1")
    </div>
    <div style="width:960px"><img src="../../Modules/VIC_Story/Styles/images/pic_home.jpg" /> </div>
    <div>
        @Html.Partial("HomePagePartial_2")
    </div>
    <div>
       @Html.Partial("HomePagePartial_3")
    </div>
    </main>
</div>

