<table id="td2">
    <colgroup>
        <col width="700px;" />
        <col width="250px" />
    </colgroup>
    <tr>
        <td style="font-size: 20px; color: #8CBB00">
            Thay đổi bắt đầu từ mỗi chúng ta
        </td>
        <td rowspan='2'>
            <button name="button" value="Logon" class="btnSubmit">
                Hành động ngay</button>
        </td>
    </tr>
    <tr>
        <td>
            Hành động vì một Việt Nam xanh, sạch và tràn đầy những tấm lòng yêu thương
        </td>
    </tr>
</table>
